
.heading-style{
   color: rgb(255,0,0);
   text-align: top;
}
.form-inline md-form form-sm {
border-bottom: 1px solid #f48fb1;
box-shadow: 0 1px 0 0 #f48fb1;
color: #000;
}

.form-outline{
  font-size: medium;
}
