<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.610.0.min.js"></script>
<script src="./PhotoViewer.js"></script>
<script>listAlbums();</script>



<div class="container">
  <div class="alert alert-danger" *ngIf="statusPending">
    <div class="col-md-12 ng-scope"><strong>Submission ID: {{submissionId}}</strong></div>
    <div class="col-md-12 ng-scope"><strong>{{submissionPending}}</strong></div>
  </div>
  <div class="alert alert-success" *ngIf="!statusPending">
    <div class="col-md-12 ng-scope"><strong>Submission ID: {{submissionId}}</strong></div>
    <div class="col-md-12 ng-scope" *ngIf="statusDuplicate"><strong> {{submissionDuplicate}} </strong></div>
    <div class="col-md-12 ng-scope" *ngIf="statusValid"><strong> {{submissionSuccess}} </strong></div>
  </div>
  <h3 style="text-align: center;">SUBMISSION SUMMARY</h3>
  <div class="card">
    <div class="card-body">
      <h4>Offer Details</h4>
      <table class="table">
          <tr>
            <td>Offer:</td>
            <td>{{offerData.offer}}</td>
          </tr>
          <tr>
            <td>Invoice Date:</td>
            <td>{{offerData.invoiceDate}}</td>
          </tr>
      </table>

    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div>
        <h4>Product Details</h4>

          <table class="table">
            <tr *ngFor="let product of productData;let index = index;">
              <td ><span *ngIf="index == 0">Invoice Id: {{product.invoiceId}}</span></td>

              <td>Product Id: {{product.productId}}</td>

              <td>Quantity: {{product.quantity}}</td>
            </tr>
          </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4>Customer Information</h4>
      <div>
        <table class="table">
          <tr>
            <td>Submission Id:</td>
            <td>{{submissionId}}  </td>
          </tr>
          <tr>
            <td>First Name:</td>
            <td>{{customerData.customerFName}}</td>
          </tr>
          <tr>
            <td>Last Name:</td>
            <td>{{customerData.customerLName}}</td>
          </tr>
          <tr>
            <td>Address1:</td>
            <td>{{customerData.customerAddress1}}</td>
          </tr>
          <tr>
            <td>Address 2:</td>
            <td>{{customerData.customerAddress2}}</td>
          </tr>
          <tr>
            <td>City:</td>
            <td>{{customerData.customerCity}}</td>
          </tr>
          <tr>
            <td>State:</td>
            <td>{{customerData.customerState}}</td>
          </tr>
          <tr>
            <td>Zip: </td>
            <td>{{customerData.zip}}</td>
          </tr>
          <tr>
            <td>Retailer Name:</td>
            <td>{{customerData.retailerName}}</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>{{customerData.email}}</td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>{{customerData.phone}}</td>
        </table>
      </div>
    </div>
  </div>

  <!-- <div class="card">
    <div class="card-body">
      <h4>Upload Invoice</h4>
        <table class="table">
          <tr>
            <td>Invoice Image 1 :</td>
            <td>{{invoiceData.invoiceImg1}}</td>
          </tr>
          <tr>
            <td>Invoice Image 2 :</td>
            <td>{{invoiceData.invoiceImg2}}</td>
          </tr>
      </table>
    </div>
  </div> -->
</div>
