
<div class="container">
  <div class="heading"><h1>Track a Rebate</h1>
  </div>
  <br>
    <accordion [isAnimated]="true">
  <accordion-group heading = "Search By Tracking Number.">
    <form #userlogin = "ngForm" >
      <br><input type = "text" name = "Tracking Number" placeholder = "Tracking Number" ngModel>
      <br/>
      <div class = "my-accordion">
        <br><input type = "submit" value = "Track >" >
      </div>
    </form>

  </accordion-group>

  <accordion-group heading ="Search Without a Tracking Number">
    <form #userlogin = "ngForm"  >
      <br><input type = "text" name = "First Name*" placeholder="Frist Name*">
      <br/>
      <br><input type = "text" name = "Last Name*" placeholder="Last Name*" ngModel>
      <br/>
      <br><input type = "text" name = "Zip code*" placeholder="Zip code*" ngModel>
      <br/>
      <div class = "my-accor">
        <br><input type = "submit" value = "Track >">
      </div>
    </form>
  </accordion-group>

</accordion>
</div>
