
.heading {
      padding: 15px;
      text-align: top;
      font-size: 25px bold arial;
      color: rgb(255,0,0);
}

 .my-accordion{
   color: rgb(255,0,0);
   font-size: 25px;
 }

 .my-accor{
   color: rgb(255,0,0);
   font-size: 25px;
 }
