<div class="container register">
  <div class="col register-right">
    <div class="register-form" style="margin-bottom: 50px;">
      <div style="justify-content: center;">
        <p style="text-align: left;margin-bottom:100px;" id="pageTitle"></p>
        <ul class="nav nav-tabs nav-justified" id="header" role="tablist">
        </ul>

        <div style="text-align: center" id="banner" class="col-8"></div>
        <h6 style="text-align: center;color:green;" id="msg">
          <table id="tbl"></table><br />
          <div id="btnBack" class="col-8">
          </div>



        </h6><br />
        <form ngNativeValidate enctype="multipart/form-data" class="form-group" name="submitForm" id="submitForm">
          <div id="myForm" class="row">

          </div>

          <div *ngIf="invoiceInfoPage" class="row">
              <div id="drop-area" class="col">
                  <p>Upload multiple files with the file dialog or by dragging and dropping images onto the dashed region</p>
                  <input type="file" id="fileElem" multiple accept="image/*" (change)="detectFiles($event)">
                  <label class="button" for="fileElem">Select some files</label>
              </div>
              <div class="col">
                <div class="row">
                  <div *ngFor="let img of urls; let i = index" class="col-md-3">
                    <img [src]="img.url" class="rounded col" width="180"><br>
                    {{img.name}}
                  </div>
                </div>
              </div>
            </div>
          <div *ngIf="products">
            <div class="col-md-2" [formGroup]="addForm">
              <div class="form-group">
                <table>
                  <thead>
                    <button (click)="onAddRow()" *ngIf="addForm.get('rows')"><i class="fa fa-plus"></i></button>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of addForm.get('rows')?.controls;let index = index;">
                      <td style="width: auto; padding: 20px;">
                        <label for="invoiceId" *ngIf="index == 0">
                          <h6>Invoice Id:</h6>
                        </label> <input [formControl]="row.get('invoiceId')" placeholder="Invoice ID" class="iId"
                          id="invoiceId" name="invoiceId" type="string" style="width: auto;" *ngIf="index == 0" ngModel required>
                      </td>
                      <td style="width: auto; padding: 20px;">
                        <label for="productId">
                          <h6>Product Id:</h6>
                        </label>
                        <input list="productIds" [formControl]="row.get('productId')" placeholder="Product ID" class="pId" id="productId" name="productId" type="text" style="width: auto;" ngModel required>
                        <datalist id="productIds">
                          <option>AZ12</option>
                          <option value="FY22">FY22</option>
                          <option value="LK76">LK76</option>
                          <option value="TY33">TY33</option>
                          <option value="BV64">BV64</option>
                        </datalist>
                      </td>
                      <td style="width: auto; padding: 20px;">
                        <label for="quantity">
                          <h6>Quantity:</h6>
                        </label> <input [formControl]="row.get('quantity')" placeholder="Quantity" class="qtt"
                          id="quantity" name="quantity" type="number" style="width: auto;" ngModel required>
                      </td>
                      <td style="margin-top: 10px; vertical-align: middle;">
                        <br><button (click)="onRemoveRow(index)"><i class="fa fa-times"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>



          <div class="col-md-12 ng-scope" *ngIf="errOfferId" class="alert-danger"><strong>No offers found. Please check
              your information and try again.</strong></div>
          <div class="col-md-12 ng-scope" *ngIf="errOfferDate" class="alert-danger"><strong>Offer Date
              Missmatch!</strong></div>
          <div id="btn" class="col-8">
            <button id="btn" (click)="submitFrm();"
              onclick="document.getElementById('validity').value=submitForm.checkValidity();" class='btnRegister'><span
                id="lbl">Submit</span></button>
          </div>
          <br />
        </form>

      </div>
    </div>
    <ul style="width:100%;background-color: transparent;margin-top: -30px;" class="nav nav-tabs nav-justified"
      id="footer" role="tablist">
    </ul>
  </div>
</div>
<input type="hidden" id="validity" />
